.contact{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0 100px;
    align-items: center;
}
.contact_container{
    border: 1px solid white;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}
.contact_container > p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
}
.contact_container > p > span{
    color: #f64c08;
}
@media (max-width: 768px) {
  .contactcontainer {
    margin: 80px 0;
  }

  .contactcontainer > h1 {
    font-size: 26px;
  }

  .contactcontainer > p {
    font-size: 14px;
  }

  .contactcontainer {
    gap: 25px;
  }
}

