@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.projectcontainer{
    display: flex;
    flex-direction:column ;
    color:  #f64c08;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}
.projectcontainer > h1{
    padding-bottom: 15px;
}
.projectcontainer > p{
    padding-bottom: 20px;
}
.projectcontainer__project{
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
     display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
.projectcontainer {
  padding: 60px 80px;
}
@media (max-width: 768px) {
  .projectcontainer {
    padding: 20px;
  }

  .projectcontainer h1 {
    font-size: 28px;
  }

  .projectcontainer p {
    font-size: 14px;
  }
}


