@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.skillcontainer{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 200px 0;
}
.skillcontainer__text{
    color: #f64c08;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}
.skillcontainer__text > h2{
    font-size: 30px;
}
.skillcontainer__img{
    flex: 0.4;
    text-align: center;
    margin-right: 90px;
}
.skillcontainer__img > img{
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}
.skillcontainer__skillset > h5{
font-family: "Crimson",sans-serif;
font-weight: 300;
padding-bottom: 15px;
padding-top: 10px;
color: white;
}

.skillcontainer__slider > .MuiLinearProgress-colorPrimary{
    background-color: rgb(88, 88, 88);
}
@media (max-width: 768px) {
  .skillcontainer {
    margin: 80px 0;
  }

  .skillcontainer > h1 {
    font-size: 26px;
  }

  .skillcontainer > p {
    font-size: 14px;
  }

  .skillcontainer{
    gap: 25px;
  }
}

