.topcontainer{
    background: url("/src/assets/space1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
@media (max-width: 768px) {
  .topcontainer {
    margin: 80px 0;
  }

  .topcontainer > h1 {
    font-size: 26px;
  }

  .topcontainer > p {
    font-size: 14px;
  }

  .topcontainer{
    gap: 25px;
  }
}
