@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.topcontent{
color: #fff;
position: relative;
}

.topcontent__container{
    position: absolute;
    top: 300px;
    right: 150px;
}

.topcontent__container > p{
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 20px;
}

.topcontent__container > a >button {
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 7px;
    outline: none;
}

.topcontent__container > h1 {
    font-size: 50px;
    font-family: "montserrat",sans-serif;
}
.topcontent__dowbtn{
    color: #fff;
    background-color: #f64c08;
    font-size: 14px;
    padding: 10px 30px;
    font-family: "montserrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;
}

.topcontent__wrkbtn{
    color: #fff;
    border: 1px solid white !important;
    background-color: transparent;
    font-size: 14px;
    padding: 9px 45px;
    font-family: "montserrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.topcontent__dowbtn:hover{
color: #f64c08;
background-color: #fff;
font-weight: 600;
}
.topcontent__wrkbtn:hover{
color: black;
background-color: #fff;
font-weight: 600;
}