@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header{
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    top: 0;
    position: sticky;
    z-index: 2000;
    justify-content: space-between;
  flex-wrap: wrap;
}
.header__left{
    flex: 0.4;
}
.header__left > h1{
    text-align: center;
    font-family: "Alata",sans-serif;
    letter-spacing: 1px;
    padding: 20px;
}
.header__left > h1 > span{
    color: #f64c08;
}
.header__right{
    display: flex;
    flex: 0.6;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.header__right > a >h5{
font-size: 18px;
cursor: pointer;
transition: transform 200ms ease-in-out;
padding: 20px 0;
letter-spacing: 1px;
}
.header__right > a > h5:hover{
    transform: scale(1.09);
    background-color: #f64c08;
    color: white;
    padding: 5px 20px;
    border-radius: 2px;
    letter-spacing: 1px;
font-family: "Crimson Text",serif;
font-size: 18px;
cursor: pointer;
}
.header__rightbtn{
    background-color: #f64c08;
    color: white;
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

