a{
    text-decoration: none !important;
    color: white;
}
.app {
  min-height: 100vh;
  background-color: black;
  color: white;
}
@media (max-width: 768px) {
  .app {
    margin: 80px 0;
  }

  .app > h1 {
    font-size: 26px;
  }

  .app > p {
    font-size: 14px;
  }

  .app{
    gap: 25px;
  }
}


