* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #000; /* BLACK */
  color: #fff;           /* text white */
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: clamp(26px, 4vw, 42px);
}

p {
  font-size: clamp(14px, 2vw, 18px);
}
